.main-link {
display: inline-block;
width: 180px;
text-decoration: none;
background-color: black;
font-size: 46px;
text-align: center;
border-radius: 10px;
color: #fff;
margin-left: auto;
}

.main-link:hover {
background-color: #ccc;
color: #000;
transition: 1s all ease;
}

.main-link:active {
background-color: #Fff;
border: 1px solid;
}

.main-title {
text-align: center;
font-size: 46px;
}