.navbar__list {
display: flex;
margin: 0;
padding: 0;
list-style: none;
align-items: center;
}

.navbar__item {
margin-right: 30px;

&:last-child {
margin-right: unset;
}
}

.navbar__link {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: #474747;
    text-decoration: none;

    &:hover {
    border-bottom: 1px solid #474747;
    }
}