.footer {
background-color: #000;
padding: 40px 0 45px;
margin-top: 96px;
}

.footer__container {
display: flex;
align-items: flex-start;
}


.footer__wrapper {
width: 660px;
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-left: 397px;
}

.footer__link {
text-decoration: none;
color: #fff;

&:hover {
border-bottom: 1px solid #fff;
}
}

.footer__item {
margin-bottom: 15px;

&:last-child {
margin-bottom: unset;
}
}